#toc {

    display: table;
    padding: 7px;

    direction: ltr;
    font-size: 13.3px;

    color: rgb(171, 165, 152);
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(60, 63, 65);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;

    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;

    border-bottom-color: rgb(55, 58, 63);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    border-left-color: rgb(55, 58, 63);
    border-left-style: solid;
    border-left-width: 1px;

    border-right-color: rgb(55, 58, 63);
    border-right-style: solid;
    border-right-width: 1px;

    border-top-color: rgb(55, 58, 63);
    border-top-style: solid;
    border-top-width: 1px;

    user-select: none;

}

.toctitle {
    display: block;
    direction: ltr;
    line-height: 21.28px;
    text-align: center;
    padding-bottom: 9px;
    unicode-bidi: isolate;
}

#toc-heading {
    display: inline;
    margin-bottom: 3.325px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 13.3px;
    overflow: hidden;


    direction: ltr;
    font-size: 15.3px;
    font-weight: 700px;

    text-align: center;

    color: rgb(172, 172, 172);
    border-bottom-color: rgb(172, 172, 172);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;

    border-left-color: rgb(172, 172, 172);
    border-left-style: none;
    border-left-width: 0px;

    border-right-color: rgb(172, 172, 172);
    border-right-style: none;
    border-right-width: 0px;

    border-top-color: rgb(172, 172, 172);
    border-top-style: none;
    border-top-width: 0px;
}

.toctogglespan {
    font-size: 100%
}

.toctogglespan:before {
    content: ' ['
}

.toctogglespan:after {
    content: ']'
}

.toctogglelabel {
    cursor: pointer;
    color: #5a82a9
}

.toctogglelabel:hover {
    text-decoration: underline
}

.toctogglecheckbox:focus+.toctitle .toctogglelabel {
    text-decoration: underline;
    outline: dotted 1px;
    outline: auto -webkit-focus-ring-color
}

.toctogglecheckbox:checked+.toctitle .toctogglelabel:after {
    content: 'show'
}

.toctogglecheckbox:not(:checked)+.toctitle .toctogglelabel:after {
    content: 'hide'
}

.toctogglecheckbox:checked~ul {
    display: none;
}

.toc ul {

    list-style: none;
    margin: 0.3em 0;
    padding: 0;
    text-align: left;

}

.toc ul>li>ul {
    padding-left: 30px;
}

.toc ul>li .toctext {

    cursor: pointer;
    color: #5a82a9;
    line-height: 1.5;

}

.tocnumber {

    color: var(--main-text-color);
    padding-right: 0.5em;
    
}

.toc ul>li>span:hover {
    
    text-decoration: underline;
    
}
